* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("ilj7_hx1f_220225.jpg");
  background-size: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-image: url('ribbon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30vh 10vh;
}

header > p {
  padding: 1.5vh;
  color:white;
  font-size: 1.5vh;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  max-width: min-content;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#controls {
  font-family: 'Bangers', cursive;
  font-size: 3vmin;
  margin: 2vmin;
}

#controls>p {
  font-size: 5vmin;
}

input {
  height: 3vmin;
}

#canvas1 {
  box-shadow: inset 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  width: 50vmin;
  height: 50vmin;
}


#mandrake {
  display: none;
}