body {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    height: 110vh;
    background-color: orange;
    color: darkgreen;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 88px;
    background-image: url('ribbon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px 110px;
    color: white;
}