body {
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  color: black;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline 0.15em green;
  transition: text-decoration-color 500ms;
}

ul li a:hover {
  text-decoration-color: white;
}

button {
  background-color: #04AA6D;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 14px 28px;
}

button:hover {
  background-color: #059862;
}

#b1 {
    transition: transform 500ms, margin 500ms;
}

#b1:hover {
    transform: scale(1.5);
}

@keyframes pulse {
            0% {
                box-shadow: 0 0 0 -1px yellow;
            }
            50% {
                box-shadow: 0 0 10px 5px yellow;
            }
            100% {
                box-shadow: 0 0 0 -1px yellow;
            }
        }

#b2 {
    margin: 14px 28px;
    animation: pulse 2s infinite;
}

.element {
   background-image: url('image.png');
   /* size of one frame */
   width: calc(20px*5);
   height: calc(24px*5);
   /* size of the whole sheet */
   background-size: calc(132px*5) calc(24px*5);
  /* animate the coordinates */
  animation: heartAnimation 2s steps(5, jump-none) infinite;
}

@keyframes heartAnimation {
  from {
    /* first frame */
    background-position: 0 0;
  }
  to {
    /* last frame */
    background-position: calc(-80px*5) 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

h3 {
    margin: 2px 14px;
  animation-duration: 3s;
  animation-name: slide-in;
}